@model EasySendler.Models.BusinessLogic.MailSettingViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>MailSetting</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SMTP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SMTP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SMTPPort)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SMTPPort)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pop3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pop3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pop3Port)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pop3Port)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EnableSSL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnableSSL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Imap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Imap)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImapPort)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImapPort)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MailSettingsId }, new { @class = "btn btn-warning btn-xs" }) |
    @Html.ActionLink("Back to List", "Index",null, new { @class = "btn btn-default btn-xs" })
</p>
