@model IEnumerable<EasySendler.Models.BusinessLogic.MailSettingViewModel>
@{
    ViewBag.Title = "Mail Settings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Mail Settings</h2>
<p>
    <button class="btn btn-success" type="button" 
            data-toggle="modal" data-target="#modalMailSettings" data-ajax-url="@Url.Action("GetEdit", "MailSettings")" 
            data-id="0" data-action-type="Edit" data-modal-title="Mail Settings: Create New form">Create New</button>
</p>
<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Email)</th>
        <th>@Html.DisplayNameFor(model => model.SMTP)</th>
        <th>@Html.DisplayNameFor(model => model.SMTPPort)</th>
        <th>@Html.DisplayNameFor(model => model.Pop3)</th>
        <th>@Html.DisplayNameFor(model => model.Pop3Port)</th>
        <th>@Html.DisplayNameFor(model => model.EnableSsl)</th>
        <th>@Html.DisplayNameFor(model => model.Imap)</th>
        <th>@Html.DisplayNameFor(model => model.ImapPort)</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>@Html.DisplayFor(modelItem => item.Email)</td>
        <td>@Html.DisplayFor(modelItem => item.SMTP)</td>
        <td>@Html.DisplayFor(modelItem => item.SMTPPort)</td>
        <td>@Html.DisplayFor(modelItem => item.Pop3)</td>
        <td>@Html.DisplayFor(modelItem => item.Pop3Port)</td>
        <td>@Html.CheckBoxFor(modelItem => item.EnableSsl, new { data_toggle = "toggle", data_width = "50", data_height = "22", disabled = "true" })</td>
        <td>@Html.DisplayFor(modelItem => item.Imap)</td>
        <td>@Html.DisplayFor(modelItem => item.ImapPort)</td>
        <td>
            <button class="btn btn-warning btn-xs" type="button"
                    data-toggle="modal" data-target="#modalMailSettings" data-ajax-url="@Url.Action("GetEdit", "MailSettings")"
                    data-id="@item.MailSettingsId" data-action-type="Edit" data-modal-title="Mail Settings: Edit form">Edit</button>&nbsp;|
            <button class="btn btn-info btn-xs" type="button" data-toggle="modal" 
                    data-target="#modalMailSettings" data-ajax-url="@Url.Action("GetDetails", "MailSettings")" 
                    data-id="@item.MailSettingsId" data-action-type="Details" data-modal-title="Mail Settings: Details form">Details</button>&nbsp;|
            <button class="btn btn btn-danger btn-xs" type="button" data-toggle="modal"
                    data-target="#modalMailSettings" data-ajax-url="@Url.Action("GetDetails", "MailSettings")"
                    data-id="@item.MailSettingsId" data-action-type="Delete" data-modal-title="Mail Settings: Delete confirmation form">Delete</button>
        </td>
    </tr>
}

</table>

<div class="modal" id="modalMailSettings" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body"></div>
        </div>
    </div>
</div>

<script type="text/template" id="mailSettingsDetailsTemplate">
    <div class="form-horizontal">
        <dl class="dl-horizontal">
            <dt>Email</dt><dd><%- item.Email %></dd>
            <dt>Password</dt><dd><%- item.Password %></dd>
            <dt>SMTP</dt><dd><%- item.SMTP %></dd>
            <dt>SMTP Port</dt><dd><%- item.SMTPPort %></dd>
            <dt>Pop3</dt><dd><%- item.Pop3 %></dd>
            <dt>Pop3 Port</dt><dd><%- item.Pop3Port %></dd>
            <dt>Enable Ssl</dt><dd><input class="checkbox" checked="<%- item.EnableSsl %>" data-height="22" data-width="50" data-toggle="toggle" data-val="<%- item.EnableSsl %>" disabled="" type="checkbox" value="<%- item.EnableSsl %>"></dd>
            <dt>Imap</dt><dd><%- item.Imap %></dd>
            <dt>Imap Port</dt><dd><%- item.ImapPort %></dd>
            <dt>Description</dt><dd><%- item.Description %></dd>
        </dl>
        <div class="form-group form-actions">
            <div class="col-md-12 text-center">
                <button class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</script>
<script type="text/template" id="mailSettingsDeleteTemplate">
    <div class="form-horizontal">
        <div class="alert alert-info text-center" role="alert">Are you sure you want to delete following Mail Settings?</div>
        <dl class="dl-horizontal">
            <dt>Email</dt>
            <dd><%- item.Email %></dd>
            <dt>Description</dt>
            <dd><%- item.Description %></dd>
        </dl>
        <div class="form-group form-actions">
            <div class="col-md-12 text-center">
                @using (Html.BeginForm("Delete", "MailSettings", FormMethod.Post, new { @class = "delete-btn-form" }))
                {
                    @Html.AntiForgeryToken()
                    <input id="id" name="id" type="hidden" value="@Html.Raw("<%= item.MailSettingsId %>")" />
                    <input type="submit" value="Delete" class="btn btn-danger" />
                }
                &nbsp;&nbsp;&nbsp;<button class="btn btn-primary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</script>

@section Scripts {
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/additionaljq")
<script type="text/javascript">
    $(document).ready(function () { new MailSettings();});
</script>
}