
@{
    ViewBag.Title = "Delivery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delivery</h2>


<div class="row">
    <div class="col col-sm-8">
        <h4>Recipients</h4>
        <div class="row mtb-30">
            <div class="col col-sm-10">
                <select id="ddlRecipientLists" class="ddl-select2-source"
                        data-tags="false" data-placeholder="Select a Recipient list ..." data-allow-clear="true"
                        data-ajax--url="@Url.Action("GetRecipientListForDropDown", "RecipientLists")" data-ajax--cache="true"
                        data-recipients-amount-url="@Url.Action("GetRecipientsAmount", "RecipientLists")"
                        data-recipients-details-url="@Url.Action("GetRecipients", "RecipientLists")"></select>
            </div>
            <div class="col col-sm-2">
                <button id="btnOpenRecipientList" type="button" class="btn btn-success disabled" data-toggle="modal" data-target="#recipientListDetails">List details ...</button>
            </div>
        </div>

        <div class="row mtb-30">
            <div class="col col-sm-12">
                <h4>Templates</h4>
                <div class="input-group igTemplates">
                    <span class="input-group-btn">
                        <button id="btnTemplates" class="btn btn-success" type="button" data-toggle="modal" data-target="#templatesList">Select a Template ...</button>
                    </span>
                    <input id="txtTemplates" type="text" class="form-control" placeholder="" readonly>
                </div>
            </div>
        </div>


        <div class="row mtb-30">
            <div class="col col-sm-12">
                <h4>Settings</h4>
                <select id="ddlMailSettingsLists" class="ddl-select2-source"
                        data-tags="false" data-placeholder="Select a Mail Settings and and email for  send from ..." data-allow-clear="true"
                        data-ajax--url="@Url.Action("GetForDropDown", "MailSettings")" data-ajax--cache="true"></select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-5 col-sm-6 col-lg-4" >
            <h4>Process</h4>
            <div id="runningProcess" class="form-control"></div>
        </div>
    </div>


    <div class="panel">
        <div class="panel-body">
            <div class="row">
                <div class="col col-sm-4 text-center">
                    <div class="panel panel-default my_panel">
                        <div class="panel-body">
                            <h4>Count of Recipients in the List</h4>
                            <input type="text" value="0" class="dial" id="recipientAmount" data-width="200" data-height="200" data-linecap="round" data-angleOffset="-125" data-angleArc="250">
                            <div class="knob-legend text-center">
                                <ul>
                                    <li><span class="label gray">&nbsp;&nbsp;</span>Allowed</li>
                                    <li><span class="label blue">&nbsp;&nbsp;</span>Count in list</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col col-sm-4 text-center">
                    <div class="panel panel-default my_panel">
                        <div class="panel-body">
                            <h4>Progress</h4>
                            <input type="text" value="0" class="dial" id="runProgress" data-width="200" data-height="200" data-linecap="round" data-angleOffset="-125" data-angleArc="250">
                            <div class="knob-legend text-center">
                                <ul>
                                    <li><span class="label gray">&nbsp;&nbsp;</span>Pending</li>
                                    <li><span class="label blue">&nbsp;&nbsp;</span>Sent</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


 




<div class="row">
    <div class="col col-sm-2">
        <button id="btnRun" value="Run" class="btn btn-danger btn-lg disabled" data-run-url="@Url.Action("Run", "Delivery")">Run</button>
    </div>

</div>




<div id="recipientListDetails" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">List Details</h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="templatesList" class="modal  fade" role="dialog" data-templates-list-url="@Url.Action("GetTemplates", "Templates")">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Templates</h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<script type="text/template" id="recipientListDetailsTemplate">
    <table class="table text-left">
        <tbody>
            <tr><th>Email</th><th>Name</th><th>SureName</th><th></th></tr>
            <% _.each( items, function(item){ %>
            <tr>
                <td><a href="#"><%- item.Email %></a></td>
                <td><a href="#"><%- item.Name %></a></td>
                <td><a href="#"><%- item.SureName %></a></td>
                <td><a class="btn btn-warning btn-xs" href="/Recipients/Details/<%- item.rId %>">Details</a> | <a class="btn btn-info btn-xs" href="/Recipients/Edit/<%- item.rId %>">Edit</a></td>
            </tr>
            <% }); %>
        </tbody>
    </table>
</script>

<script type="text/template" id="templatesListTemplate">
    <div class="row">
        <% _.each( items, function(item){ %>
        <div class="col-sm-12 col-xs-12 col-md-4 col-lg-3">
            <div class="thumbnail bootsnipp-thumb">
                <a href="/Templates/Details/<%- item.TemplateId %>">
                    <h5 class="title"><%- item.Name %></h5>
                </a>
                <a href="javascript:void(0)" class="template-link-entry template-link" title="<%- item.Description %>" data-selected-template-id="<%- item.TemplateId %>" data-selected-template-name="<%- item.Name %>">
                    <% if(item.Thumbnail){ %>
                    <img src="data:image/png;base64,<%- item.Thumbnail %>" class="template-thumbnail" />
                    <% }else{ %>
                    <img src="/UploadImages/NoImage.jpg" class="template-thumbnail" />
                    <% } %>
                </a>
            </div>
        </div>
        <% }); %>
    </div>
</script>

@section Scripts {
    @Scripts.Render("~/bundles/additionaljq")
    <script type="text/javascript">
        $(document).ready(function () { new Delivery(); });
    </script>
}
