@using System.Activities.Expressions
@using EasySendler.Extensions
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Easy Sendler</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*@Html.ActionLink("Easy Sendler", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
                <a href="@Url.Action("Index", "Home")" class="navbar-brand">
                    <span class="glyphicon glyphicon-envelope"></span><span class="title">Easy Sendler</span>
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li>@Html.ActionLink("Home", "Index", "Home")</li>*@
                    
                    <li class="@Html.GetActiveTemplateSubmenuMenu(ViewContext.RouteData.Values)">@Html.ActionLink("Templates", "Index", "Templates")</li>
                    <li class="dropdown @Html.GetActiveRecipientsSubmenuMenu(ViewContext.RouteData.Values)" role="presentation">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Recipient <span class="caret"></span></a>
                        <ul class="dropdown-menu inverse-drowdown">
                            <li class="@Html.GetActiveMenu(ViewContext.RouteData.Values, "Recipients/Index")">@Html.ActionLink("Recipients", "Index", "Recipients")</li>
                            <li class="@Html.GetActiveMenu(ViewContext.RouteData.Values, "RecipientLists/Index")">@Html.ActionLink("Recipient Lists", "Index", "RecipientLists")</li>
                            <li class="@Html.GetActiveMenu(ViewContext.RouteData.Values, "RecipientLists/ConfigureList")">@Html.ActionLink("Configure Recipient Lists", "ConfigureList", "RecipientLists")</li>
                        </ul>
                    </li>

                    <li class="@Html.GetActiveMenu(ViewContext.RouteData.Values, "MailSettings/Index")">@Html.ActionLink("MailSettings", "Index", "MailSettings")</li>

                    <li class="@Html.GetActiveMenu(ViewContext.RouteData.Values, "Delivery/Index")">@Html.ActionLink("Delivery", "Index", "Delivery")</li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="@Html.GetActiveMenu(ViewContext.RouteData.Values, "Home/About")">@Html.ActionLink("About", "About", "Home")</li>
                    <li class="@Html.GetActiveMenu(ViewContext.RouteData.Values, "Home/Contact")">@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @*@Html.Partial("_LoginPartial")*@
            </div>
        </div>
    </div>

    <div class="container body-content ">
        @RenderBody()
    </div>

    <div class="navbar-inverse navbar-fixed-bottom">
        <div class="container footer">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">@Html.ActionLink("Templates", "Index", "Templates")</div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">@Html.ActionLink("MailSettings", "Index", "MailSettings")</div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">@Html.ActionLink("Delivery", "Index", "Delivery")</div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">@Html.ActionLink("Recipients", "Index", "Recipients")</div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">@Html.ActionLink("Recipient Lists", "Index", "RecipientLists")</div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">@Html.ActionLink("Configure Recipient Lists", "ConfigureList", "RecipientLists")</div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">@Html.ActionLink("Home", "Index", "Home")</div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">@Html.ActionLink("About", "About", "Home")</div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">@Html.ActionLink("Contact", "Contact", "Home")</div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
