@model IEnumerable<EasySendler.Models.BusinessLogic.RecipientListViewModel>

@{
    ViewBag.Title = "ConfigureList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ConfigureList</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {id = item.rlId}) |
                @Html.ActionLink("Details", "Details", new {id = item.rlId}) |
                @Html.ActionLink("Delete", "Delete", new {id = item.rlId})
            </td>
        </tr>
    }

</table>


<div class="no-gutters">
    <div class="col">
        <select id="ddlRecipientLists" class="ddl-select2-source"
                data-tags="false" data-placeholder="Select an option" data-allow-clear="true"
                data-ajax--url="@Url.Action("GetRecipientListForDropDown", "RecipientLists")" data-ajax--cache="true"
                data-recipients-to-configure-url="@Url.Action("GetRecipientsToConfigure", "RecipientLists")">
        </select>
    </div>
</div>
<div class="row">
    <div class="col">
        <select multiple="multiple" size="10" id="dlbRecipients"></select>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/additionaljq")
    <script type="text/javascript">
        $(document).ready(function () { new ConfigureRecipientList(); });
    </script>
}